<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" parallel = "tests">


  
  
    <test name="ChromeTest">

    <parameter name="browsername" value="chrome" />
    <classes>
      
      <class name="smp.Test"/>
      
    </classes>
    
    </test>
    
    <test name="FirefoxTest">
    
    <parameter name="browsername" value="Firefox" />
    
    <classes>
      
      <class name="smp.Test"/>
      
    </classes>
    
    
    
</test> <!-- Default test -->
</suite> <!-- Default suite -->
